/* FOGLIO DI STILE */

main {
  border: 2px solid rgb(160, 87, 242);
}

section {
  border: 2px solid rgb(20, 66, 142);


}

article {
  border: 2px solid rgb(27, 152, 40);
  background-color: rgb(195, 195, 195);
  display: inline-block;
  position: relative;
  height: 600px;
  padding: 10px;

}
